<div class="text-layout">
    <h1>Uncommon Pipes</h1>
    <p>Pipes includes in Angular - Usually in Not Common Module</p>
</div>

<div class="grid">
    <div class="col md:col-6 sm:col-12">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>Saludos {{name}}, es un placer {{gender | i18nSelect:invitationMap}} a nuestro evento.</p>
            <button pButton icon="pi pi-spinner" iconPos="right" label="Change Name" (click)="changeName()"></button>
        </p-fieldset>
    </div>
    <div class="col md:col-6 sm:col-12">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>Actualmente {{customers.length | i18nPlural:customersMap}}</p>
            <button pButton type="button" label="Delete Customer" icon="pi pi-trash" iconPos="right" class="p-button-danger" (click)="deleteCustomer()"></button>
        </p-fieldset>
    </div>
    <div class="col md:col-6 sm:col-12">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <b>Original</b>
            <pre>{{customers}}</pre>

            <b>Slice:0:2</b>
            <pre>{{customers | slice:0:2}}</pre>

            <b>Slice:1:2</b>
            <pre>{{customers | slice:1:2}}</pre>

            <b>Slice:1:3</b>
            <pre>{{customers | slice:1:3}}</pre>
        </p-fieldset>
    </div>

    <div class="col md:col-6 sm:col-12">
        <p-fieldset legend="Json Pipe" [toggleable]="true">
            <pre>{{heroes | json}}</pre>
        </p-fieldset>
    </div>

    <div class="col md:col-6 sm:col-12">
        <p-fieldset legend="Keyvalue Pipe" [toggleable]="true">
            <ul>
                <li *ngFor="let item of person | keyvalue"><b>{{item.key | titlecase}}:</b> {{item.value}}</li>
            </ul>
        </p-fieldset>
    </div>

    <div class="col md:col-6 sm:col-12">
        <p-fieldset legend="Async Pipe" [toggleable]="true">
            <pre *ngIf="!(myObservable | async)">Resolving Observable</pre>
            <pre>{{myObservable | async}}</pre>
            <pre *ngIf="!(valuePromise | async)">Resolving Promise</pre>
            <pre>{{valuePromise | async}}</pre>
        </p-fieldset>
    </div>
</div>